



/* ------ PROPIEDADES POR ETIQUETAS ----- */
:root {
  --clr-bg-light: #3b3b3b;
  --clr-bg-dark: #242424;
  --clr-text-gold: #ffd700;
}


.row {
  border-color: black;
}

.row-sp-btw {
  justify-content: space-between;
}

/* FOOTER */

footer {
  display: flex;
	background: var(--clr-bg-dark);
	color: whitesmoke;
  width: 100%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer {
  grid-column: 1/7;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  text-justify: initial;
  align-items: stretch;

}

.social-link a img{
  height: 35px;
  display: flex;
  align-items: end;

}
/* SECCION RESERVAR */
/* PARAMETROS DE LA LISTA DE SELECCION Y DEL CALENDARIO*/
#listdep{
	margin: 0;
	float: left;
	padding: 5%;
	min-height: 500px;
	background: white;
}



/* SECCION NOTIFICACIONES IMPORTANTE */
/* APLICADO CON SASS Y MODIFICADORES BEM*/
#notificacion{
  padding-top: 20px;
  padding-bottom: 20px;
}
.notificacition {
  grid-column: 1/7;
}

.notificaciones {
  /* color: white; */
  text-align: center;
  text-decoration: lightgoldenrodyellow;
}

.contenedor__noti {
	margin: 70px 0;
}

.noti {
	/* background: #FFF; */
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 50px;
}

.noti__enlace {
	width: 650px;
	height: 200px;
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

.noti__img {
	width: 100%;
}

.noti__titulo {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 20px;
}

.noti__extracto {
	line-height: 28px;
	color: #6D6D6D;
	margin-bottom: 20px;
}

.boton {
	border: none;
	min-width: 180px;
	height: 50px;
	padding: 0 30px;
	background: #000;
	color: #fff;
	display: inline-block;
	border-radius: 100px;
	text-decoration: none;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	background: whitesmoke;
	transition: .3s ease all;
}

.boton__texto {
	font-weight: 600;
}

.boton:hover {
	background: var(--clr-text-gold)
	// text-decoration: none;
}

.boton--absolute {
	position: absolute;
	right: 20px;
	bottom: -25px;
}

.frase {
	text-align: center;
	margin: 70px 0;
}

.frase__texto {
	margin-bottom: 20px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-style: italic;
}

/* SECCION CALENDARIO POR LISTA */


ol .calendar--ago{
	list-style: none; 
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

// @media (min-width) {
//   .imagen--table {

//   }

// }